.scene {
  height: 100vh;
  /*background: black;*/
}

.stickyParent {
  height: 590vh;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*.forthplay {*/
/*  background-position: center;*/
/*  background-size: cover;*/
/*  background-image: url(./nyc_0000.jpg);*/
/*}*/
